<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LifeSpot</title>
    <link href="../Static/CSS/index.css" rel="stylesheet" type="text/css">

    <!-- Внешний скрипт с функциями -->
    <script type="text/javascript" src="../Static/JS/index.js"></script>

    <!-- Внутренний скрипт с вызовами функций -->
    <script>
        // Проверка на возраст
        checkAge();

        // сохранение сессии
        handleSession()

        // вывод данных сессии в консоль
        sessionLog();

        // функция для получения пользовательского ввода
        const inputParseFunction = function () {
            return document.getElementsByTagName('input')[0].value.toLowerCase();
        }
    </script>

</head>

<!--Хедер страницы находится над тегом body-->
<header id="header-index">
       <h1>LifeSpot - прямые трансляции с улиц</h1>
       <p>Покажем, что происходит прямо сейчас</p>
       <input type="text" oninput="
        // Функция объявлена через declaration     
      
       // Вызов (функция в аргумент передаётся без круглых скобок)
       filterContent( inputParseFunction )

" size=50%>
</header>

<!--Сайд-бар страницы (пока все ссылки ведут на главную)-->
<aside id="sidebar">
    <div class="navbar">
        <a href="/"><p>Все трансляции</p></a>
        <a href="/"><p>О проекте</p></a>
    </div>
</aside>

<body>
    <div class="bordered">
        <div class="video-container">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/srlpC5tmhYs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <h3 class="video-title">Нью-Йорк, Брайант Парк</h3>
        </div>
        <div class="video-container">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/wCcMcaiRbhM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <h3 class="video-title">Санкт-Петербург, Невский Проспект</h3>
        </div>"
        <div class="video-container">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/muVgPUnU7qA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <h3 class="video-title">Лондон, автобусный маршрут</h3>
        </div>
    </div>
</body>

<!--Футер страницы находится под основной частью (body)-->
<footer>
    <p>LifeSpot - видео трансляции</p>
    <p>Связь с разработчиком: evmorgunov@yahoo.com</p>
</footer>
</html>
